{% extends 'master.html' %}
{% block content %}
  
<body id="aboutb1">
  
  <div >

    <div ></div>
      <div class="hr">
        <hr>
        <h2>Our Mission</h2>
        <button><a href="{% url 'master'%}">Back</a></button>
        <hr>
      </div>

      <p class="mission-txt">"To Provide Quality Education at Low Cost"</p>
     
    </div>

    <div>
      <h2>About</h2>
      <div>
        
        <p>A school is an educational institution designed to provide learning spaces and learning environments for the teaching of students under the direction of teachers. Most countries have systems of formal education, which is sometimes compulsory.
          teenagers who have completed primary education. An institution where higher education is taught, is commonly called a university college or university. </p>
        <p>A school is an educational institution designed to provide learning spaces and learning environments for the teaching of students under the direction of teachers. Most countries have systems of formal education, which is sometimes compulsory.
          teenagers who have completed primary education. An institution where higher education is taught, is commonly called a university college or university. </p>

      </div>
    </div>

    <div >
      <h2>Faculties</h2>
      <div class="faculties">
        <div class="unit">
          

        </div>
        <div class="unit">
          <img src="https://vidyasheela.com/web-contents/website-components/About-Us-Pages/responsive-about-us-page-html/Principal.jpg" alt="">
          <p>Mathew Tram, Principal</p>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus unde aliquid laborum voluptatum distinctio nobis?'</p>

        </div>
        <div class="unit">
          <img src="https://vidyasheela.com/web-contents/website-components/About-Us-Pages/responsive-about-us-page-html/vice-principal.jpg" alt="">
          <p>Lawn Sethi, Vice Principal</p>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus unde aliquid laborum voluptatum distinctio nobis?'</p>
        </div>
      </div>
    </div>

  </div>
  

{% endblock %}
