{% extends 'master.html' %}
{% block content %}
<body class="servicesbody">
<div class="serviceswrapper">
  <h2>
Services</h2>
<div class="servicesline">
</div>
<div class="single-service1s">
      <div class="social1s">
<i class="fa fa-codepen1s"></i></div>
<span></span>
       <h3>Web Design</h3>
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et delectus, in veritatis veniam non praesentium corporis dolorum necessitatibus. Culpa odio enim amet praesentium illo voluptates ab quidem, nam consequuntur. Natus.</p>
</div>
<div class="single-service1s">
      <div class="social1s">
<i class="fa fa-cogs1s"></i></div>
<span></span>
       <h3>
ui / ux design</h3>
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et delectus, in veritatis veniam non praesentium corporis dolorum necessitatibus. Culpa odio enim amet praesentium illo voluptates ab quidem, nam consequuntur. Natus.</p>
</div>
<div class="single-service1s">
      <div class="social1s">
<i class="fa fa-diamond1s"></i></div>
<span></span>
       <h3>
Graphics design</h3>
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et delectus, in veritatis veniam non praesentium corporis dolorum necessitatibus. Culpa odio enim amet praesentium illo voluptates ab quidem, nam consequuntur. Natus.</p>
</div>
</div>
<button><a href="{% url 'master'%}">Back</a></button>

</body>
{% endblock %}
