<html>
    <head>
        <title>student</title>
    </head>
    <body>
        <form marhod="GET">
            <input type="number" name='a' maxlength="10" required placeholder="Enter no of student">
            <input type="text" name='name1' maxlength="20" required placeholder="Enter first name">
            <input type="text" name='name2' maxlength="20" required placeholder="Enter last name">
            <input type="number" name='no1' maxlength="10" required placeholder="Enter no of subjects">
            <input type="number" name='mar' maxlength="10" required placeholder="Enter Marks">
            <input type="submit" value="ok">

        </form>
        <h1>Ans is: {{ ans }}</h1>
    </body>
</html>
